@model Bookinist.Models.DTO.BookDTO
@{ 
    var book = Model;
}  
<br />
<h5 class="text-white">Подробно о книге @book.Name</h5>
<div class="good" style="border: 1px solid #fff; border-radius: 10px;">
    <div class="card-body">
        
    </div>
</div>

<style>
    .good {
        width: 800px
    }
</style>